<section class="checklist-items" ng-controller="ChecklistItemsController">
    <!-- New checklist form -->
    <div class="row">
        <form ng-submit="addItem()">
            <div class="form-group">
                <input type="text" class="form-control" id="newItemName" placeholder="Type new item name"
                       ng-model="newItem">
            </div>
        </form>
    </div>

    <div class="row"  ng-repeat="item in items">
        <div class="col-xs-12 checkbox">
            <label class="checkbox-inline">
                <input type="checkbox"
                       ng-click="itemCompleted($event, item.id)"
                       ng-checked="{{ item.completed_at != null }}" /> {{ item.description }}
            </label>
        </div>
    </div>
</section>