<div class="panel-heading">Welcome</div>
<div class="panel-body">
  <h1>Hello, stranger!</h1>
  <p>This is CheckmateApp, awesome app for managing your checklists</p>
  <h3>Here are some of the features:</h3>
  <ul class="list-unstyled">
    <li class="checkbox">
      <label>
        <input type="checkbox"/> Make a template, and clone your checklists
      </label>
    </li>
    <li class="checkbox">
      <label>
        <input type="checkbox"/> Simple checking/unchecking items in the checklist
      </label>
    </li>
    <li class="checkbox">
      <label>
        <input type="checkbox"/> Share your checklist with others via provided link
      </label>
    </li>
    <li class="checkbox">
      <label>
        <input type="checkbox"/> Totally asynchronous, no page reload needed!
      </label>
    </li>
  </ul>
</div>
