<section class="checklist">
  <% @items.each do |item| %>
      <div class="row">
        <div class="col-xs-12 checkbox">
          <label class="checkbox-inline">
            <input type="checkbox" /> <%= item.description %>
          </label>
        </div>
      </div>
  <% end %>
</section>